# Import Required Libraries

Write all import scripts in the following cell

In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Set Environments

Write all Environment Setup scripts in the following cell

1. inline matplotlib
2. Display all columns of Pandas DataFrame
3. Display all rows of Pandas DataFrame

In [22]:
%matplotlib inline
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# Load Raw CSVs

There are 6 csv files containing raw data from the respective sources. The file names and paths are as following-

1. './data/raw/T_BORROWER.csv'
2. './data/raw/T_LOAN_DETAIL.csv'
3. './data/raw/T_CUSTOMER_RELATION.csv'
4. './data/raw/T_BILL_GENERATION.csv'
5. './data/raw/T_LOAN_SCHEDULE.csv'
6. './data/raw/T_BILL_PAYMENT.csv'

Note: The description of the data are being provided in ./meta/ folder

### Load the csv files into Pandas dataframes

The respectieve Pandas DataFrame names should be as following-

1. df_raw_borrower
2. df_raw_loan
3. df_raw_crm
4. df_raw_bill
5. df_raw_schedule
6. df_raw_payment

Note:-

1. low_memory property should be set to False
2. Headers are already in the first row of the resepctive csv files

In [23]:
df_raw_borrower = pd.read_csv('./data/raw/T_BORROWER.csv', low_memory=False, index_col=0)
df_raw_loan = pd.read_csv('./data/raw/T_LOAN_DETAIL.csv', low_memory=False)
df_raw_crm = pd.read_csv('./data/raw/T_CUSTOMER_RELATION.csv', low_memory=False)
df_raw_bill = pd.read_csv('./data/raw/T_BILL_GENERATION.csv', low_memory=False)
df_raw_schedule = pd.read_csv('./data/raw/T_LOAN_SCHEDULE.csv', low_memory=False)
df_raw_payment = pd.read_csv('./data/raw/T_BILL_PAYMENT.csv', low_memory=False)

# Have a glance on the Datasets

Use Pandas DataFrame's head() method to get some ideas of the data

### df_raw_borrower

In [24]:
df_raw_borrower.head()

  BORROWER_ID DATE_OF_BIRTH   AGE GENDER MARITAL_STATUS  DISTRICT
0  STK1479012      16-07-94  26.0      M              S     Dhaka
1  STK1093355      04-11-75  45.0      F              M  Rajshahi
2  STK2367968      11-02-69  51.0      M              M    Khulna
3  STK1207743      06-03-81  39.0      M              S    Sylhet
4  STK2022897      01-09-91  29.0      M              S     Other

### df_raw_loan

In [25]:
df_raw_loan.head()

,CONTRACT_NO,BORROWER_ID,LOAN_NAME,LOAN_TYPE,PRINCIPAL_AMOUNT,DATE_OF_ISSUE,INTEREST_RATE,INTEREST_TYPE,LOAN_PERIOD,EMI_AMOUNT,MORTAGE_TYPE,MORTAGE_AMOUNT,NO_OF_DAYS_IN_ARREARS,LOAN_STATUS
0,PLMBA014455,STK2079856,MOTOR BICYCLE,LEASING,144600.00,07-01-17,32.20,EFFECTIVE_RATE,24,8250.00,VEHICLE,235500.0,0.0,PERFORMING
1,KRMBA005035RST1,STK2221859,MOTOR BICYCLE,LEASING,211495.38,24-01-17,35.67,EFFECTIVE_RATE,18,15341.83,VEHICLE,405900.0,-90.0,PERFORMING
2,ARMBA013483,STK1479012,MOTOR BICYCLE,LEASING,279930.00,18-01-17,36.64,EFFECTIVE_RATE,36,12925.00,VEHICLE,399900.0,223.5,NPL
3,ANMBA008869,STK2299177,MOTOR BICYCLE,LEASING,150000.00,20-01-17,39.72,EFFECTIVE_RATE,30,7963.00,VEHICLE,250000.0,-30.0,PERFORMING
4,WYMBA004236,STK2343411,MOTOR BICYCLE,LEASING,164250.00,04-01-17,33.61,EFFECTIVE_RATE,36,7302.00,VEHICLE,235500.0,-140.1,PERFORMING

### df_raw_crm

In [26]:
df_raw_crm.head()

  BORROWER_ID  AGE_OF_RELATION_MONTHS  TOTAL_NO_OF_LOANS  TOTAL_LOAN_AMOUNT
0  STK2044462                      42                  1          164850.00
1  STK2371847                      42                  1          227570.00
2  STK2367657                      42                  1          150400.00
3  STK2369235                      42                  1          148750.00
4  STK1008451                      42                  2          419358.43

### df_raw_bill

In [27]:
df_raw_bill.head()

  BORROWER_ID  CONTRACT_NO BILL_DATE  TRANSACTION_AMOUNT PAYMENT_DUE_DATE
0  STK2079856  PLMBA014455  04-07-17              8250.0         09-07-17
1  STK2079856  PLMBA014455  04-04-17              8250.0         09-04-17
2  STK2079856  PLMBA014455  04-05-17              8250.0         09-05-17
3  STK2079856  PLMBA014455  04-10-17              8250.0         09-10-17
4  STK2079856  PLMBA014455  04-06-17              8250.0         09-06-17

### df_raw_schedule

In [28]:
df_raw_schedule.head()

  BORROWER_ID  CONTRACT_NO  DUE_DATE  RENTAL_NO  DUE_AMOUNT DUE_STATUS
0  STK2079856  PLMBA014455  04-02-17          1      8250.0  COMPLETED
1  STK2079856  PLMBA014455  04-03-17          2      8250.0  COMPLETED
2  STK2079856  PLMBA014455  04-04-17          3      8250.0  COMPLETED
3  STK2079856  PLMBA014455  04-05-17          4      8250.0  COMPLETED
4  STK2079856  PLMBA014455  04-06-17          5      8250.0  COMPLETED

### df_raw_payment

In [29]:
df_raw_payment.head()

  BORROWER_ID  CONTRACT_NO PAYMENT_DATE  PAID_AMOUNT PAYMENT_STATUS
0  STK2358344  AGMBA005042     25-03-17      7000.00              A
1  STK2358344  AGMBA005042     25-04-17      7000.00              A
2  STK2358344  AGMBA005042     29-01-18      6683.44              A
3  STK2358344  AGMBA005042     21-03-18      9780.63              A
4  STK2358344  AGMBA005042     16-07-18      7000.00              A

# Copy the Original Datasets

All ELT (Extraction, Loading and Transformation) actions and scripts should be done on copy of the RAW DataFrames. We won't do anything on the Original Raw DataFrames.

The names of the respective copied DataFrames should be as following-

1. df_borrower
2. df_loan
3. df_crm
4. df_bill
5. df_schedule
6. df_payment

In [30]:
df_borrower = df_raw_borrower.copy()
df_loan = df_raw_loan.copy()
df_crm = df_raw_crm.copy()
df_bill = df_raw_bill.copy()
df_schedule = df_raw_schedule.copy()
df_payment = df_raw_payment.copy()

# Meta informations of the Datasets

#### Size (Dimension) of Datasets

Use Pandas DataFrame's shape() method

The output should look like following-

<img src="./pic/1.png">

In [31]:
print("df_borrower", df_borrower.shape)
print("df_loan", df_loan.shape)
print("df_crm", df_crm.shape)
print("df_bill", df_bill.shape)
print("df_schedule", df_schedule.shape)
print("df_payment", df_payment.shape)

df_borrower (2306, 6)
df_loan (2308, 14)
df_crm (2301, 4)
df_bill (58372, 5)
df_schedule (69433, 6)
df_payment (49922, 5)

#### DataFrame Information

Use Pandas DataFrame's info() method

The output should look like following-

<img src="./pic/2.png">

Note: Do this for all 6 DataFrames and have a close look into the outputs. Learn about the Data Structures, Formats and Data Types from the DataFrames.

In [32]:
print("df_borrower")
print(df_borrower.info())
print("df_loan")
print(df_loan.info())
print("df_crm")
print(df_crm.info())
print("df_bill")
print(df_bill.info())
print("df_schedule")
print(df_schedule.info())
print("df_payment")
print(df_payment.info())

df_borrower
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2306 entries, 0 to 2305
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   BORROWER_ID     2306 non-null   object
 1   DATE_OF_BIRTH   2304 non-null   object
 2   AGE             2304 non-null   float64
 3   GENDER          2304 non-null   object
 4   MARITAL_STATUS  2299 non-null   object
 5   DISTRICT        2306 non-null   object
dtypes: float64(1), object(5)
memory usage: 126.1+ KB
None
df_loan
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2308 entries, 0 to 2307
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CONTRACT_NO            2308 non-null   object
 1   BORROWER_ID            2308 non-null   object
 2   LOAN_NAME              2308 non-null   object
 3   LOAN_TYPE              2308 non-null   object
 4   PRINCIPAL_AMOUNT       2308 non-null   float64
 5   DATE_OF_ISSUE          2308 non-null   object
 6   INTEREST_RATE          2308 non-null   float64
 7   INTEREST_TYPE          2308 non-null   object
 8   LOAN_PERIOD            2308 non-null   int64
 9   EMI_AMOUNT             2308 non-null   float64
 10  MORTAGE_TYPE           2308 non-null   object
 11  MORTAGE_AMOUNT         2308 non-null   float64
 12  NO_OF_DAYS_IN_ARREARS  2308 non-null   float64
 13  LOAN_STATUS            2308 non-null   object
dtypes: float64(5), int64(1), object(8)
memory usage: 252.6+ KB
None
df_crm
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2301 entries, 0 to 2300
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   BORROWER_ID             2301 non-null   object
 1   AGE_OF_RELATION_MONTHS  2301 non-null   int64
 2   TOTAL_NO_OF_LOANS       2301 non-null   int64
 3   TOTAL_LOAN_AMOUNT       2301 non-null   float64
dtypes: float64(1), int64(2), object(1)
memory usage: 72.0+ KB
None
df_bill
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58372 entries, 0 to 58371
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   BORROWER_ID         58372 non-null  object
 1   CONTRACT_NO         58372 non-null  object
 2   BILL_DATE           58372 non-null  object
 3   TRANSACTION_AMOUNT  58372 non-null  float64
 4   PAYMENT_DUE_DATE    58372 non-null  object
dtypes: float64(1), object(4)
memory usage: 2.2+ MB
None
df_schedule
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69433 entries, 0 to 69432
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   BORROWER_ID  69433 non-null  object
 1   CONTRACT_NO  69433 non-null  object
 2   DUE_DATE     69433 non-null  object
 3   RENTAL_NO    69433 non-null  int64
 4   DUE_AMOUNT   69433 non-null  float64
 5   DUE_STATUS   69433 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 3.2+ MB
None
df_payment
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49922 entries, 0 to 49921
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   BORROWER_ID     49922 non-null  object
 1   CONTRACT_NO     49922 non-null  object
 2   PAYMENT_DATE    49922 non-null  object
 3   PAID_AMOUNT     49922 non-null  float64
 4   PAYMENT_STATUS  49922 non-null  object
dtypes: float64(1), object(4)
memory usage: 1.9+ MB
None

#### Data Types

Use Pandas DataFrame's dtypes property

The output should look like following-

<img src="./pic/3.png">

Note: Do this for all DataFrames

In [33]:
print("df_borrower")
print(df_borrower.dtypes)
print("df_loan")
print(df_loan.dtypes)
print("df_crm")
print(df_crm.dtypes)
print("df_bill")
print(df_bill.dtypes)
print("df_schedule")
print(df_schedule.dtypes)
print("df_payment")
print(df_payment.dtypes)

df_borrower
BORROWER_ID        object
DATE_OF_BIRTH      object
AGE               float64
GENDER             object
MARITAL_STATUS     object
DISTRICT           object
dtype: object
df_loan
CONTRACT_NO               object
BORROWER_ID               object
LOAN_NAME                 object
LOAN_TYPE                 object
PRINCIPAL_AMOUNT         float64
DATE_OF_ISSUE             object
INTEREST_RATE            float64
INTEREST_TYPE             object
LOAN_PERIOD                int64
EMI_AMOUNT               float64
MORTAGE_TYPE              object
MORTAGE_AMOUNT           float64
NO_OF_DAYS_IN_ARREARS    float64
LOAN_STATUS               object
dtype: object
df_crm
BORROWER_ID                object
AGE_OF_RELATION_MONTHS      int64
TOTAL_NO_OF_LOANS           int64
TOTAL_LOAN_AMOUNT         float64
dtype: object
df_bill
BORROWER_ID            object
CONTRACT_NO            object
BILL_DATE              object
TRANSACTION_AMOUNT    float64
PAYMENT_DUE_DATE       object
dtype: object
df_schedule
BORROWER_ID     object
CONTRACT_NO     object
DUE_DATE        object
RENTAL_NO        int64
DUE_AMOUNT     float64
DUE_STATUS      object
dtype: object
df_payment
BORROWER_ID        object
CONTRACT_NO        object
PAYMENT_DATE       object
PAID_AMOUNT       float64
PAYMENT_STATUS     object
dtype: object

# Convert All Date Strings to Date Time

#### Date Converter Helper Function

Write a helper method named "to_dt" which will convert a String into a Date

In [34]:
def to_dt(x):
    return pd.to_datetime(x)

#### Convert all Dates

Using to_dt method convert all Date Strings to Date Format and Replace the respective columns in the respective DataFrames.

In [35]:
df_borrower['DATE_OF_BIRTH'] = df_borrower['DATE_OF_BIRTH'].apply(to_dt)
df_loan['DATE_OF_ISSUE'] = df_loan['DATE_OF_ISSUE'].apply(to_dt) 
df_bill['BILL_DATE'] = df_bill['BILL_DATE'].apply(to_dt) 
df_bill['PAYMENT_DUE_DATE'] = df_bill['PAYMENT_DUE_DATE'].apply(to_dt)
df_schedule['DUE_DATE'] = df_schedule['DUE_DATE'].apply(to_dt) 
df_payment['PAYMENT_DATE'] = df_payment['PAYMENT_DATE'].apply(to_dt)

Explore Date Ranges for each of the  Date variable (column) in each DataFrames.

The output should look like following-

<img src="./pic/4.png">

Note: Do this for all DataFrames

In [36]:
print("df_borrower")
print(df_borrower.dtypes)
print("df_loan")
print(df_loan.dtypes)
print("df_crm")
print(df_crm.dtypes)
print("df_bill")
print(df_bill.dtypes)
print("df_schedule")
print(df_schedule.dtypes)
print("df_payment")
print(df_payment.dtypes)

df_borrower
BORROWER_ID               object
DATE_OF_BIRTH     datetime64[ns]
AGE                      float64
GENDER                    object
MARITAL_STATUS            object
DISTRICT                  object
dtype: object
df_loan
CONTRACT_NO                      object
BORROWER_ID                      object
LOAN_NAME                        object
LOAN_TYPE                        object
PRINCIPAL_AMOUNT                float64
DATE_OF_ISSUE            datetime64[ns]
INTEREST_RATE                   float64
INTEREST_TYPE                    object
LOAN_PERIOD                       int64
EMI_AMOUNT                      float64
MORTAGE_TYPE                     object
MORTAGE_AMOUNT                  float64
NO_OF_DAYS_IN_ARREARS           float64
LOAN_STATUS                      object
dtype: object
df_crm
BORROWER_ID                object
AGE_OF_RELATION_MONTHS      int64
TOTAL_NO_OF_LOANS           int64
TOTAL_LOAN_AMOUNT         float64
dtype: object
df_bill
BORROWER_ID                   object
CONTRACT_NO                   object
BILL_DATE             datetime64[ns]
TRANSACTION_AMOUNT           float64
PAYMENT_DUE_DATE      datetime64[ns]
dtype: object
df_schedule
BORROWER_ID            object
CONTRACT_NO            object
DUE_DATE       datetime64[ns]
RENTAL_NO               int64
DUE_AMOUNT            float64
DUE_STATUS             object
dtype: object
df_payment
BORROWER_ID               object
CONTRACT_NO               object
PAYMENT_DATE      datetime64[ns]
PAID_AMOUNT              float64
PAYMENT_STATUS            object
dtype: object

# Save all Extracted DataFrames

Save all the 6 extracted DataFrames in the ./data/extracted folder in pickle format.

The pickle file names shoulld be as following-

1. borrower.pickle
2. loan.pickle
3. crm.pickle
4. bill.pickle
5. schedule.pickle
6. payment.pickle

In [39]:
df_borrower.to_pickle('./data/extracted/borrower.pickle')
df_loan.to_pickle('./data/extracted/loan.pickle')
df_crm.to_pickle('./data/extracted/crm.pickle')
df_bill.to_pickle('./data/extracted/bill.pickle')
df_schedule.to_pickle('./data/extracted/schedule.pickle')
df_payment.to_pickle('./data/extracted/payment.pickle')

# Thank You. Good Day.